/* Color Variables (Inverted) */
:root {
    --primary-color: white; /* Primary Color (White) */
    --secondary-color: #006089; /* Secondary Color (Blue) */
    --accent-color: white; /* Accent Color (White) - can be adjusted slightly */
    --light-color: white; /* Light Background Color (White) */
    --accent-color2: black; /* Less Important Accents (Black) */
    --dark-color: white; /* Dark Color (White) */
    --shadow-color: rgba(0, 0, 0, 0.2);
    --filter-background: #ddd; /* Lighter background for filters */
    --filter-text: black; /* Darker text for filters */
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: black; /* Black text on white */
}

img {
    border-radius: 8px;
}

.room-detail {
    display: flex;
    padding: 20px;
}

.room-gallery {
    flex: 1;
    margin-right: 20px;
}

.main-room-photo {
    width: 100%;
    height: 300px;
    background-color: var(--accent-color); /* White */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 24px;
    border-radius: 8px;
}

.placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    background-color: #eee; /* Slightly darker than white */
    border-radius: 8px;
    font-size: 3em;
    color: #777;
}

.limited-image {
    max-width: 500px;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

.thumbnail-photos {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.thumbnail {
    flex: 1;
    height: 100px;
    background-color: var(--accent-color); /* White */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 8px;
}

.room-info {
    flex: 1;
    background-color: var(--light-color); /* White */
    color: #006089; /* Blue */
    padding: 20px;
    border: 1px solid  #80bdff; /* Добавлен стиль solid (сплошная) */
ы
}
.room-info h1 {
    margin-top: 0;
    color: var(--accent-color2); /* Black */
}

.room-info p {
    margin: 10px 0;
}

.room-photo-section {
    margin-top: 20px;
}

.room-photo {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 10px;
}

.upload-button {
    background-color: var(--primary-color); /* White */
    color: #006089; /* Blue */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: var(--dark-color); /* White */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .room-detail {
        flex-direction: column;
    }

    .room-gallery {
        margin-right: 0;
        margin-bottom: 20px;
    }
}