<!DOCTYPE html>
<html lang="ru">  <!-- Изменил язык на русский -->
<head>
    <title>Каталог игр</title> <!-- Добавил заголовок -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Подключение CSS файла -->
    <link rel="stylesheet" href={{ url_for('static', filename='karta1.css') }}>
</head>
<body>
    <div class="info">
    <div class="room-detail">
        <div class="room-gallery">
            
            <img src="https://avatars.mds.yandex.net/i?id=6396a6b7b1a33fd2575b0fb0038cc20d_l-8276789-images-thumbs&n=13" alt="Pembroke Welsh Corgi puppy laying on the beach" width="700px">
            <img src="https://avatars.mds.yandex.net/i?id=6396a6b7b1a33fd2575b0fb0038cc20d_l-8276789-images-thumbs&n=13" alt="Pembroke Welsh Corgi puppy laying on the beach" width="700px">
            <img src="https://avatars.mds.yandex.net/i?id=6396a6b7b1a33fd2575b0fb0038cc20d_l-8276789-images-thumbs&n=13" alt="Pembroke Welsh Corgi puppy laying on the beach" width="700px">
            

        <div class="room-info">
            <h1>гонки</h1>
            <p><strong>Добро пожаловать!
                Здесь вы сможете найти интересующую вас информацию по Undertale и Deltarune. Вы также можете помочь нам, улучшив уже существующие статьи или написав недостающие, или просто приятно провести время в компании фанатов, узнавая о своей любимой вселенной много нового!
                
                На данный момент мы написали уже 686 статьи и мы продолжаем расширять их список! Ведите себя хорошо и приятного вам пребывания на проекте!
                
                Необходимую информацию о редактировании и создании вы можете найти в справке.
                
                Также прочтите общие правила, правила обсуждений и рекомендации по оформлению статей.
                
                Undertale и Deltarune? Что это?
                Хороший вопрос! Undertale — это RPG, созданная Тоби Фоксом и отличается она от других игр тем, что в ней... вам не нужно никого убивать! Она была выпущена 15 сентября 2015 года, и доступна для покупки на официальном сайте и в Steam.
                
                
                Как и Undertale, Deltarune — это RPG, разрабатываемая Тоби Фоксом и его командой. В Deltarune рассказывается совершенно другая история с новыми (и не очень) персонажами. Игра поделена на несколько глав, две из которых можно бесплатно скачать с официального сайта и со Steam.</strong> 
                <form>
                    <input type="submit" value="Загрузить игру" class="indi_download">
                  </form>
                  <h1>Планы на будещее</h1>
                  <p>Ставьте перед собой реалистичные краткосрочные и долгосрочные цели и записывайте свой прогресс в дневник. Сосредоточьтесь на будущем, но радуйтесь своим маленьким победам на этом пути.
                    Постарайтесь сделать так, чтобы ваша жизнь была сосредоточена на вашей страсти — на том, что у вас хорошо получается и что даёт вам ощущение смысла и цели.
                    Составьте чёткий план, но будьте гибкими: вы можете планировать будущее, но не можете его предсказать. Рассматривайте свой план как основу, а не как полностью проработанную форму.
                    Часть
                    1
                    Определение Ваших Будущих Целей
                    Загрузка в формате PDF
                    Скачать статью
                    Шаг 1 Найдите место, где вы сможете подумать без посторонних помех.
                    1
                    Найдите место, где вас никто не побеспокоит. Планирование будущего требует тщательного обдумывания и размышлений, чтобы понять, чего вы на самом деле хотите. Найдите место, где вы сможете побыть в одиночестве и не отвлекаться, размышляя о своём будущем.
                    Находясь в тихом месте, вы также сможете думать самостоятельно, не поддаваясь влиянию чужого мнения.</p>
                  
       
         
        </div>
    </div>
    <div class="donate">

    </div>
</div>
</body>
</html>